body{
    background-color: black;
}

.lateral_direita{
    position: absolute;
    padding: 0;
    right: 1px;
    top: 61px;
}

h1{
    color: aqua;
    font-family: fantasy;
    text-align: center;
}

.ra{
    color: wheat;
    margin: 0px;
    text-align: center;
    width: 400px;
    border: 2px solid white;
    border-radius: 3px;
}

.informacoes{
    color: aliceblue;
    padding: 0;
    float: left;
    width: 500px;
    text-align: justify;
}
