body{
    background-color: black;
    color: white;
}

@keyframes neon {
    from { 
        filter: drop-shadow(0 0 0px  rgb(3, 238, 255));
    }
    to {
        filter: drop-shadow(0 0 100px red);
    }
}

h1{
    font-family: fantasy;
    animation: neon 2s alternate infinite ease-in;
}

#text{
    position: absolute;
    bottom:0;

    
    font-size: large;
}


#photo{
    position: absolute; 
    bottom: 0;
    margin-left: 180px;
    padding: 0;
    width: auto;
}

