body{
    background-color: black;
    color: white;
}

h1{
    font-family: fantasy;
}

#text{
    position: absolute;
    bottom:0;

    
    font-size: large;
}


#photo{
    position: absolute; 
    bottom: 0;
    margin-left: 180px;
    padding: 0;
    width: auto;
}

