body {
  background-color: rgba(0, 0, 0, 0.418);
}

#nome{
  color: white;
}

h1{
  font-family: fantasy;
  color: black;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
}

.texto{
  color: black;
  text-align: center;
}

.texto2{
  color: black;
  text-align: center;
}
