{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/leandro.css">
{% endblock %}

{% block conteudo %}
<div class="lateral_direita"> <img src="/static/images/back.jpg" id="fundo"/> </div>

<div class="ra">
    <h1>Leandro Monteiro</h1>
    <p>1901699</p>
</div>

<div class="informacoes">

    <p>Tenho 20 anos e amo entender como as coisas funcionam.</p>
    <h3>Hobbies favoritos</h3>
    <ul>
        <li>Tocar instrumentos musicais</li>
        <li>Jogar games</li>
        <li>Ler</li>
        <li>Programar</li>
      </ul>  
    <p>Cursando 2°sem em Análise e desenvolvimento de sistemas</p>

</div>

{% endblock %}