{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="static/css/maria.css">
{% endblock %}

{% block conteudo %}
  <p id="nome"><b>Maria Vitoria Ferreira da Silva RA: 1901934</p>
    <div class="texto">
      <p>Sou apaixonada por música desde que me conheço por gente, mas acabei não seguindo carreira.</p>
      <p>Faço parte do Coral Juvenil Santa Marcelina. A experiência canto coral é linda demais.</p>
    </div>
    <img src="/static/images/coju.jpg"/>
    <div class="texto2">
      <p>Essa foto foi em uma de nossas apresentações, o repertório falava sobre o tempo.</p>
      <p>Fizemos um repertório lindo, foi um coro cênico. Sem dúvidas inesquecível.</p>
    </div>
{% endblock %}